extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href='#') MEAN app
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='#') Home
                    li
                        a(href='#') About
                div(ng-include="'partials/account/navbar-login'")
    section.content
        div(ng-view)
    //h2 #{mongoMessage}
    .container
        footer.text-center
            p &copy; MEAN app copyright