.navbar-right(ng-controller='navbarLoginCtrl')
    form.navbar-form
        .form-group
            input.form-control(name='username' placeholder='username', ng-model='username' required)
        .form-group
            input.form-control(name='password' type='password', placeholder='password', ng-model='password' required)
        button.btn.btn-default(ng-click='signIn(username, password)') Sign in