doctype html 5
html
    head
        link(href='favicon.ico', rel='shortcut icon' type='image/x-icon')
        link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel='stylesheet' type="text/css" href='/public/vendor/toastr/toastr.min.css')
        link(rel='stylesheet' type="text/css" href='/public/css/site.css')
    body(ng-app='skeleton')
        block main-content
        include scripts