.container
    .jumbotron
        h1 MEAN App
        p Hi, Welcome. Cheers!
    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")