.container
    .jumbotron
        h1 MEAN App
        p Hi, Welcome. Cheers!
    .row
        .col-md-6
            .panel.panel-primary
                .panel-heading.text-center Featured
                .panel-body Section body
        .col-md-6
            .panel.panel-primary
                .panel-heading.text-center New
                .panel-body Section body